@mixin arrow ($deg, $size, $color : white) {
    padding: 10px;
    border-width: $size $size 0px 0;
    border-style: solid;
    border-color: $color;
    transform: rotate($deg);
}

%arrow-div {
    width: 50px;
    background: rgba(0, 0, 0, 0.247);
    height: 140px;
    position: absolute;
    z-index: 1;
    top: 0;
}









.list-div {
    background-color: red;

    .list-div__header-div {
        h1 {}

        .slider-indicator {}

    }



    .list-div__show-list-div {
        overflow: hidden;
        position: relative;

        .show-list-div__internal-div {
            // background-color: orange;
            display: inline-flex;
            flex-direction: row;
            width: fit-content;
            transition: margin 1s;

            .item {
                float: left;
                width: 300px;
                margin: 0 10px;

                .item-image {
                    position: relative;

                    img {
                        width: 100%;
                        height: auto;
                        aspect-ratio: 3/1.7; // Used in JS List
                    }

                    h1 {
                        position: absolute;
                        z-index: 1;
                        top: 0;
                        font-size: clamp(15px, 1.5vw, 24px);
                        color: white;
                    }

                    // buttons


                }

                .preview {
                    display: none;
                }


            }



        }

        .left-arrow-div {
            @extend %arrow-div;
            left: 0;

            .arrow {
                position: absolute;
                top: calc(50% - 15px);
                left: 10px;
                @include arrow(-135deg, 10px)
            }
        }

        .right-arrow-div {
            @extend %arrow-div;
            right: 0;

            .arrow {
                position: absolute;
                top: calc(50% - 15px);
                left: 10px;
                @include arrow(45deg, 10px)
            }
        }

        .arrow-toggle {
            display: none;

            &:hover {
                .arrow {
                    padding: 15px;
                }

            }
        }

        &:hover .arrow-toggle {
            display: block;
        }


    }
}