.pinned-header {
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100%;

    .pinned-header-container {
        .menu-navigation {

            display: flex;
            align-items: center;
            height: 40px;
            padding: 0 2%;

            .logo {
                width: 100px;
                height: inherit;

                img {
                    width: 100%;
                }
            }

            .primary-navigation {
                .mobile-menu-container {

                    //Mobile dropdown menu (left)
                    .mobile-menu-button {
                        color: red;
                        font-weight: bold;
                        border: none;

                        &:hover .mobile-menu-dropdown {
                            display: block;
                        }
                    }

                    .mobile-menu-dropdown {
                        position: absolute;
                        display: none;
                        left: 0;
                        width: 280px;
                        background-color: #000000e8;
                        border-top: 2px solid white;
                        z-index: 2;



                        ul {
                            .mobile-nav-tab {
                                text-align: center;
                                padding: 20px;

                                cursor: pointer;

                                a {
                                    color: grey;

                                }

                                &:hover {
                                    background-color: rgba(128, 128, 128, 0.116);
                                    color: white; //if active
                                    font-weight: bold; //if active

                                    .mobile-menu-dropdown {
                                        display: block;
                                    }
                                }
                            }
                        }
                    }
                }

                // Normal primary menu (left)
                .nav-tab {
                    display: none;
                    float: left;
                    margin-left: 10px;
                    color: white;

                    a {}
                }
            }

            //Secondary menu (right)
            .secondary-navigation {
                display: flex;
                position: absolute;
                right: 40px;
                height: inherit;

                .secondary-tab {
                    height: inherit;

                    .global-search {
                        // display: none;
                        height: inherit;
                    }

                    #kids-link {
                        display: none;
                    }

                    .notifications {
                        height: inherit;
                    }

                    .account-settings {
                        height: inherit;

                        .account-settings-button {
                            height: inherit;
                            border: none;

                            img {}

                            .account-settings-dropdown {
                                position: absolute;
                                z-index: 2;
                                display: none;
                                background-color: #000000e8;

                                width: 200px;
                                right: 0;


                                .account-settings__list {
                                    li {
                                        padding: 5px 0;
                                        overflow: auto;

                                        .tab {
                                            width: 100%;
                                            float: left;
                                            height: 50px;
                                            color: white;
                                            clear: both;
                                            cursor: pointer;

                                            img {
                                                float: left;
                                                padding: 5px;
                                                height: 40px;
                                            }

                                            a {
                                                float: left;
                                                padding: 15px 0 15px 10px;
                                            }

                                            #sign-out-button {
                                                margin-left: 50px;
                                            }

                                            &:hover {
                                                a {
                                                    text-decoration: underline;
                                                }
                                            }

                                        }


                                    }
                                }
                            }

                            &:hover {
                                .account-settings-dropdown {
                                    display: block;

                                }
                            }



                        }
                    }
                }
            }
        }
    }

    @media (min-width: 885px) {
        .pinned-header-container {
            .menu-navigation {
                .logo {}

                .primary-navigation {
                    .mobile-menu-container {
                        display: none;
                    }

                    .nav-tab {
                        display: block;


                    }
                }


            }
        }
    }
}

.active-nav {
    color: white !important;
    font-weight: bold !important;
}

.nav-bg {
    background-color: black;
}